  body {
    margin: 0;
    
    font-family: "Raleway", sans-serif;
  }
  #main{
    padding: 0 50px;
    scroll-behavior: smooth;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin: 0 55px 0 50px;
  }
  
  nav img {
    height: 70px;
    margin-top: 20px;
    margin-left: 50px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  header a{
    padding: 30px;
  }
  header a:hover {
    color: #0065fc;
    border-top: solid;
    padding: 30px;
  }
  #find p {
    margin-bottom: 30px;
  }
  #location {
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
  }
  
  .search {
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 1px 15px 15px 1px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }
  .search2 {
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 1px 15px 15px 1px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    display: none;
  }
  
  input {
    border: none;
    margin-left: -2px;
    font-size: 16px;
    padding: 15px;
  }
  
  ::placeholder {
    font-weight: bold;
    color: black;
  }
  
  label {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 15px 2px 2px 15px;
  }
  
  /* #filter {
    display: flex;
    align-items: center;
    margin-left: -44px;
  } */
  
  #filter {
    margin-top: 30px;
    display: flex;
  }
  
  #filter h2 {
    margin-right: 20px;
    margin-left: 10px;
  } 
  
  .monBtn {
    background-color: white;
    font-weight: bold;
    border: solid 3px #f2f2f2;
    border-radius: 30px;
    border-color: #f2f2f2;
    padding: 0;
    margin: 10px;
  }
  
  #filter div i {
    color: #0065fc;
    background-color: #deebff;
    border: 0px solid;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
  }
  
  #dispo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
  
  #dispo i {
    margin: 20px;
    color: #0065fc;
    border: 1px solid rgb(207, 207, 207);
    padding: 10px 15px 10px 15px;
    border-radius: 50%;
  }
  
  #main-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  
  #hebergement img {
    border-radius: 20px 20px 0 0;
    text-align: center;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  section {
    padding: 20px;
  }

  #hebergement {
    background-color: #f2f2f2;
    width: 70%;
    border-radius: 10px;
    margin-right: 50px;
  }
  
  #box-hebergement {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  #hebergement article {
    display: flex;
    flex: 25%;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(205, 204, 204);
  }
  
  #hebergement h2 {
    margin-top: 25px;
    margin-left: 25px;
  }
  
  #hebergement h3 {
    /* text-align: center; */
    margin: 0;
    padding: 0px;
  }
  
  #hebergement h4 {
    /* text-align: center; */
    padding: 0;
    margin: 0;
  }
  
  .allstar {
    margin-top: 10px;
  }
  
  .stargrey {
    color: rgb(171, 170, 170);
    font-size: 13;
  }
  
  .bluestar {
    color: #0065fc;
    font-size: 13;
  }
  #articles {
    
    flex-flow: column nowrap;
    display: flex;
  }
  #populaire {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 30px;
    width: 20%;
  }
  #populaire h4{
    margin: 0;
    margin-top: 10px;
    font-weight: 200;
  }
  
  #populaire article {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-top: 40px;
    width: 365px;
    padding: 0px;
    box-shadow: 5px 5px 5px rgb(205, 204, 204);
  }

  #populaire h3 {
    margin: 0;
    margin-top: 20px;
  }
  
  #populaire img {
    width: 150px;
    height: 138px;
    border-radius: 20px 0 0 20px;
    margin: 6px;
    object-fit: cover;
  }
  .article_pop div{
    margin-top: 30px;
  }
  
  #bloc1 {
    display: flex;
    justify-content: space-between;
  }
  
  #filter a {
    margin: 20px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
  }
  
  #hebergement h3 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 10px;
  }
  #hebergement h4 {
    font-weight: 100;
  }
  
  footer {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    margin-top: 50px;
    padding: 50px;
  }

  .footer-pannel li {
    list-style: none;
    margin-top: 17px;
  }

  .footer-pannel ul{ 
    padding: 0;
  }

  .soloart img {  
    width: 100%;
    height: 477px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

  .soloart{
    box-shadow: 0px 0px 10px rgb(205, 204, 204);
    border-radius: 20px;
    width: 350px;
  }

  #box_act{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
  }
  
  .panneau{
  width: 100%;
  }
  #bloc2 .fort img{
  height: 200px;
  }
  #bloc2 .fort{
    height: 260px;
  }
  #bloc2 .frioul{
    height: 200px;
  }
  #bloc2 .frioul img{
    height: 130px;
  }
  .duoart img {
    width: 380px;
    height: 170px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  
  #bloc2{
    margin-top: 80px;
  }

  #bloc2 article {
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(205, 204, 204);
    height: 230px;
  }

  .duoart article {
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  #bloc2 h2{
    margin-left: 41px;
  }

  #bloc2 h3 {
    margin-left: 10px;
  }

  #titpop{
    justify-content: space-between;
    display: flex;
    flex-flow: row;
  }

  .blackstar{
    margin-top: 20px;
    font-size: 24px;
  }
  .more a {
    margin-left: 30px;
  }
                    /*MEDIA */
  @media screen and (max-width: 1102px) {
      body{
        margin: 0;
    
    }
    .search2{
        display: none;
    }
    
    nav{display: block;}
    
    header nav img{
        margin-left: 43%;
    }
    
    header nav ul{
        margin-left: 10%;
        align-items: center;
    }
    
    header a{
        padding: 20px;
    }
    
    header a:hover {
        color: #0065fc;
        border-bottom: solid;
        border-top: none;
        padding: 20px;
    }
    #find h2{margin-top: 70px;}
    #location{
        margin-left: 20%;
    }
    #filter{
        display: block;
    } 
    /* #filter div{
        margin-left: 50px;
    } */
    #main-content {
        display: block;
    }
    
    #hebergement {
        display: block;
        margin-left: 0;
        width: 93%;
        margin-bottom: 20px;
    }
    #hebergement h2{
        margin-bottom: 0;
    }
    #hebergement article{
        margin-top: 20px;
    }
    #articles{
      margin-left: 130px;
    }
    #populaire{
        margin-top: 0;
        width: 90%;
    }
    #bloc2 h2{
      margin-left: 0;
    }
    footer{
        display: block;
        background-color: #f2f2f2;
    }
    .footer-pannel{
        margin-left: 40%;
        margin-top: 50px;
    }
    #box_act{
        display: block;
        margin-left: 0;
    }
    .soloart img{
        width: 100%;
        height: 177px;
    }
    #box-hebergement {
        display: flex;
        flex-flow: row wrap;
        
    }
    .duoart{
      margin-top: 50px;
    }
    .duoart img{
        width: 100%; 
    }
    .soloart{
        width: 100%;
        margin-top: 40px;
    }
  }
  @media screen and (max-width: 760px) {
      body{
        margin: 0;
    }
    label{
        padding: 15px;
    }
    input{
        padding: 15px;
    }
    .search{
        padding: 15px;
        display: none;
    }
    section #location{
        margin-left: 0;
    }
    nav img{
        width: 100px;
        height: 60px;
    }
    nav ul li {
        margin: 0;
    }
    header nav ul{
        display: flex;
        justify-content: space-around;
        margin-left: 0;
        padding-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    header a {
        padding: 20px;
        font-size: 15px;
    }
    header{
        border-bottom: solid 2px #f2f2f2;
    }
    #hebergement article{
        width: 306px;
        margin-left: 10%;
    }
    #hebergement img{
        width: 100%;
    }
    #box-hebergement{
        display: block;
        margin-top: -46px;
        margin-right: 160px;
        background-color: white;
    }
    #hebergement{
        width: 91.5%;
        margin: 0;
        background-color: white;
    }
    #main{
        padding: 0;
    }
    #main-content{
        display: block;
    }
    #find h2{
        margin: 0;
        margin-top: 20px;
    }
    #find p{
        margin: 0;
        margin-top: 20px;
    }
    
    #location{
        margin-top: 30px;
        margin-left: 0;
    }
    
    #dispo p{
        margin-left: 1px;
    }
    .panneau{
        width: 306px;
    }
    #box_act{
        margin: 2px;
        margin-left: 5px;
    }
    .duoart{
        width: 350px;
        margin-left: 30px;
        margin-bottom: 50px;
    }
    
    .soloart{
        width: 350px;
        margin-left: 30px;
    }
    .footer-pannel{
        margin-left: 1px;
    }
    
    .search2{
        display: inline-block;
        padding: 15px;
        border-radius: 12px;
    }
  }
  @media screen and (max-width: 320px) {
      body{
        margin: 0;
        padding: 0;
    }
    #main{
        margin: 0;
        margin-left: 33px;
        width: 119%;
    }
    header nav ul{
        margin-left: 0;
        padding-left: 0;
    }
    #find p{
        margin-left: 0;
    }
    section #location{   
        margin-left: 0;
    }
    #box-hebergement {
        margin-left: 0;
        background-color: white;
    }
    #find h2{
        font-size: 20px;
        margin-left: 0;
    }
    header nav img{
        margin-left: 45%;
    }
    #filter h2{
        font-size: 20px;
        padding-left: 15px;
    }
    #filter div{
        margin-top: -50px;
    }
    #hebergement article{
        margin-left: 0;
    }
    #populaire article{
        width: 293px;
        height: 150px;
    }
    .article_pop div {
        margin-top: 2px;
    }
    .bluestar{
        font-size: 14px;
    }
    #bloc2 section {
        padding: 0;
    }
    #bloc2{
        margin-left: -14px;
    }
    .stargrey{
        font-size: 14px;
    }
    #populaire h3{
        font-size: 15px;
        margin-top: 10px;
    }
    #populaire h4{
        margin-top: 2px;
    }
    #hebergement{
        width: 105%;
        background-color: white;
    }
    #populaire{
        width: 85%;
    }
    .soloart{
        width: 311px;
    }
    .duoart{
        width: 311px;
    }
    footer{
        width: 109%;
    }
    #box_act{
        margin-left: 0;
    }
    .soloart article{
        margin-top: 5px;
    }
  }