  body {
    margin: 0;
    
    font-family: "Raleway", sans-serif;
  }
  #main{
    padding: 0 50px;
    scroll-behavior: smooth;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin: 0 55px 0 50px;
  }
  
  nav img {
    height: 70px;
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  header a{
    padding: 30px;
  }
  header a:hover {
    color: #0065fc;
    border-top: solid;
    padding: 30px;
  }
  #find p {
    margin-bottom: 30px;
  }
  #location {
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
  }
  
  .search {
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 1px 15px 15px 1px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }
  .search2 {
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 1px 15px 15px 1px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    display: none;
  }
  
  input {
    border: none;
    margin-left: -2px;
    font-size: 16px;
    padding: 15px;
  }
  
  ::placeholder {
    font-weight: bold;
    color: black;
  }
  
  label {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 15px 2px 2px 15px;
  }
  
  /* #filter {
    display: flex;
    align-items: center;
    margin-left: -44px;
  } */
  
  #filter {
    margin-top: 30px;
  }
  
  /* #filter h2 {
    margin: 50px;
  } */
  
  .monBtn {
    background-color: white;
    font-weight: bold;
    border: solid 3px #f2f2f2;
    border-radius: 30px;
    border-color: #f2f2f2;
    padding: 0;
    margin: 10px;
  }
  
  #filter div i {
    color: #0065fc;
    background-color: #deebff;
    border: 0px solid;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
  }
  
  #dispo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
  
  #dispo i {
    margin: 20px;
    color: #0065fc;
    border: 1px solid rgb(207, 207, 207);
    padding: 10px 15px 10px 15px;
    border-radius: 50%;
  }
  
  #main-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  
  #hebergement img {
    border-radius: 20px 20px 0 0;
    text-align: center;
    width: 270px;
    height: 117px;
    object-fit: cover;
  }

  section {
    padding: 20px;
  }

  #hebergement {
    display: flex;
    flex-flow: row wrap;
    background-color: #f2f2f2;
    width: 60%;
    border-radius: 10px;
    padding-top: 25px;
  }
  
  #box-hebergement {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-top: -78px;
  }
  
  #hebergement article {
    display: flex;
    padding: 10px;
    background-color: white;
    height: 190px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(205, 204, 204);
  }
  
  #hebergement h2 {
    margin-left: 30px;
    margin-bottom: 0;
  }
  
  #hebergement h3 {
    /* text-align: center; */
    margin: 0;
    padding: 0px;
  }
  
  #hebergement h4 {
    /* text-align: center; */
    padding: 0;
    margin: 0;
  }
  
  .allstar {
    margin-top: 10px;
  }
  
  .stargrey {
    color: rgb(171, 170, 170);
    font-size: 13;
  }
  
  .bluestar {
    color: #0065fc;
    font-size: 13;
  }
  #articles {
    align-items: center;
    flex-flow: column nowrap;
    display: flex;
    margin-top: -40px;
  }
  #populaire {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 30px;
  }
  #populaire h4{
    margin: 0;
    margin-top: 10px;
    font-weight: 200;
  }
  
  #populaire article {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-top: 47px;
    width: 365px;
    padding: 6px;
    box-shadow: 5px 5px 5px rgb(205, 204, 204);
  }

  #populaire h3 {
    margin: 0;
  }
  
  #populaire img {
    width: 150px;
    height: 138px;
    border-radius: 20px 0 0 20px;
    margin: 6px;
    object-fit: cover;
  }
  .article_pop div{
    margin-top: 50px;
  }
  
  #bloc1 {
    display: flex;
    justify-content: space-between;
  }
  
  #filter a {
    margin: 20px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
  }
  
  #hebergement h3 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
  }
  
  #hebergement h4 {
    font-weight: 100;
  }
  
  footer {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    margin-top: 50px;
    padding: 50px;
  }

  .footer-pannel li {
    list-style: none;
    margin-top: 17px;
  }

  .footer-pannel ul{ 
    padding: 0;
  }

  .soloart img {  
    width: 100%;
    height: 477px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

  .soloart{
    box-shadow: 0px 0px 10px rgb(205, 204, 204);
    border-radius: 20px;
    width: 350px;
  }

  #box_act{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
  }
 
  .duoart img {
    width: 380px;
    height: 170px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  
  #bloc2{
    margin-top: 80px;
  }
  
  #bloc2 article {
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(205, 204, 204);
    height: 230px;
    
  }
  
  .duoart article {
    margin-top: 39px;
  }
  
  #bloc2 h2{
    margin-left: 41px;
  }

  #bloc2 h3 {
    text-align: center;
  }

  #titpop{
    justify-content: space-between;
    display: flex;
    flex-flow: row;
  }

  .blackstar{
    margin-top: 20px;
    font-size: 24px;
  }
  .more a {
    margin-left: 60px;
  }
