body {
    margin: 0;
    padding: 0 50px;
    font-family: "Raleway", sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin: 0 55px 0 50px;
  }
  
  nav img {
    height: 70px;
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  header a:hover {
    color: #0065fc;
    border-top: solid;
    padding: 30px;
  }
  #find p {
    margin-bottom: 30px;
  }
  #location {
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
  }
  
  .search {
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 1px 15px 15px 1px;
    padding: 15px;
    font-size: 16px;
  }
  
  input {
    border: none;
    margin-left: -2px;
    font-size: 16px;
    padding: 15px;
  }
  
  ::placeholder {
    font-weight: bold;
    color: black;
  }
  
  label {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 15px 2px 2px 15px;
  }
  
  #filter {
    display: flex;
    align-items: center;
  }
  
  #filter h2 {
    margin: 50px;
  }
  
  .monBtn {
    background-color: white;
    font-weight: bold;
    border: solid 3px #f2f2f2;
    border-radius: 30px;
    border-color: #f2f2f2;
    height: 50px;
    padding: 0;
    margin: 10px;
  }
  
  #filter div i {
    color: #0065fc;
    background-color: #bbd0f0;
    border: 0px solid;
    padding: 17px;
    border-radius: 50px;
  }
  
  #dispo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  #dispo i {
    margin: 20px;
    color: #0065fc;
    border: 1px solid rgb(207, 207, 207);
    padding: 10px;
    border-radius: 50%;
  }
  
  #main-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  
  #hebergement img {
    border-radius: 20px 20px 0 0;
    text-align: center;
    width: 14vw;
    height: 12vh;
    /* height: 90%; */
  }
  
  #hebergement {
    display: flex;
    flex-flow: row wrap;
    background-color: #f2f2f2;
    width: 60vw;
    height: 65vh;
    border-radius: 10px;
  }
  
  #box-hebergement {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    width: 70vw;
    border-radius: 10px;
  }
  
  #hebergement article {
    display: flex;
    padding: 10px;
    background-color: white;
    width: 14vw;
    height: 20vh;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(205, 204, 204);
  }
  
  #hebergement h2 {
    margin-left: 30px;
    margin-bottom: 0;
    width: 20vw;
    height: 30px;
  }
  
  #hebergement h3 {
    /* text-align: center; */
    margin: 0;
    padding: 0px;
  }
  
  #hebergement h4 {
    /* text-align: center; */
    padding: 0;
    margin: 0;
  }
  
  .allstar {
    margin-top: 10px;
  }
  
  .stargrey {
    color: rgb(171, 170, 170);
    font-size: 13;
  }
  
  .bluestar {
    color: #0065fc;
    font-size: 13;
  }
  
  #populaire {
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 25vw;
    height: 70vh;
    padding: 30px;
  }
  
  #populaire article {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-top: 40px;
    width: 20vw;
  }
  
  #populaire h3 {
    width: 10vw;
  }
  
  #populaire img {
    width: 7vw;
    height: 15vh;
    border-radius: 20px 0 0 20px;
  }
  
  #bloc1 {
    display: flex;
    justify-content: space-between;
  }
  
  #filter a {
    margin: 20px;
    font-weight: 700;
    font-size: 16px;
  }
  
  #hebergement h3 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
  }
  
  #hebergement h4 {
    font-weight: 100;
  }
  
  footer {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
  }
  
  .footer-pannel h3 {
    text-align: center;
  }
  
  .footer-pannel li {
    list-style: none;
  }
  
  .soloart img {
    width: 15vw;
    height: 45vh;
    border-radius: 20px 20px 0 0;
  }
  
  #bloc2 {
    display: flex;
    justify-content: space-between;
  }
  
  .duoart img {
    width: 15vw;
    height: 15vh;
    border-radius: 20px 20px 0 0;
  }
  
  #bloc2 article {
    border: solid 1px grey;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(157, 157, 157));
  }
  
  .duoart article {
    margin-top: 39px;
  }
  
  #bloc2 h3 {
    text-align: center;
  }