body{
    margin: 0;
}
label{
    padding: 15px;
}
input{
    padding: 15px;
}
.search{
    padding: 15px;
    display: none;
}
section #location{
    margin-left: 18%;
}
nav img{
    width: 100px;
    height: 60px;
}
nav ul li {
    margin: 0;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    margin-left: 0;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

header a {
    padding: 20px;
    font-size: 15px;
}
header{
    border-bottom: solid 2px #f2f2f2;
    
}
#hebergement article{
    width: 306px;
    margin-left: 10%;
    
}
#hebergement img{
    width: 100%;
}
#box-hebergement{
    display: block;
    margin-top: -46px;
}
#hebergement{
    width: 100%;
    margin: 0;
}
#main{
    padding: 0;
}
#main-content{
    display: block;
}
#find h2{
    margin: 0;
    margin-top: 20px;
}
#find p{
    margin: 0;
    margin-top: 20px;
}

#location{
    margin-top: 30px;
    margin-left: 0;
}

#dispo p{
    margin-left: 1px;
}
.panneau{
    width: 306px;
}
#box_act{
    margin: 2px;
    margin-left: 5px;
}
.duoart{
    width: 350px;
    margin-left: 30px;
}
.soloart{
    width: 350px;
    margin-left: 30px;
}
.footer-pannel{
    margin-left: 1px;
}

.search2{
    display: inline-block;
    padding: 15px;
    border-radius: 12px;
}
