body{
    margin: 0;
}

nav{display: block;}

header nav img{
    margin-left: 45%;
}

header nav ul{
    margin-left: 8%;
    align-items: center;
}

header a{
    padding: 20px;
}

header a:hover {
    color: #0065fc;
    border-bottom: solid;
    border-top: none;
    padding: 20px;
}
#find h2{margin-top: 70px;}
#location{
    margin-left: 20%;
}
#filter{
    margin-top: 50px;
    display: block;
}
#filter div{
    margin-left: 50px;
}
#main-content {
    display: block;
}
#hebergement {
    display: block;
    margin-left: 20%;
}
#hebergement h2{
    margin-bottom: 70px;
}
#hebergement article{
    margin-top: 20px;
}
#populaire{
    margin-top: 50px;
}
footer{
    display: block;
    background-color: #f2f2f2;
}
.footer-pannel{
    margin-left: 40%;
    margin-top: 50px;
}
#box_act{
   display: block;
}
.soloart img{
    width: 100%;
    height: 177px;
}
.duoart img{
    width: 100%; 
}